<form (ngSubmit)="updateclientData(regform.form.value)" #regform="ngForm">
  <div class="medias mymedia text-center border border-light p-5 " *ngFor="let user of userdata">


    <h5>Client Name: {{user.client_firstname}} {{user.client_lastname}}</h5>
    <h6>ClientId: {{user.client_id}}</h6> <img src="assets/img/person.png" width="25%">

    <br><br>
    UserId<input type="text" class="form-control mb-4" placeholder="UserId" name="user_id" [(ngModel)]="user.user_id">
    <p>Authkey</p> <input type="text" class="form-control mb-4" placeholder="user_smsgateway_authkey"
      name="user_smsgateway_authkey" [(ngModel)]="user.user_smsgateway_authkey">
    SenderId 1<input type="text" class="form-control mb-4" placeholder="SenderId 1" name="user_smsgateway_sender_id"
      [(ngModel)]="user.user_smsgateway_sender_id">
    SenderId 2<input type="text" class="form-control mb-4" placeholder="SenderId 2" name="user_smsgateway_sender_id"
      [(ngModel)]="user.user_smsgateway_sender_id">
    Route
    <select class="browser-default custom-select" name="user_smsgateway_route" [(ngModel)]="user.user_smsgateway_route">
      <option selected value="">select Route</option>
      <option value="1">1-Promo</option>
      <option value="4">4-Tran</option>
      <option value="16">16-OTP</option>
    </select>

    PID<input type="text" class="form-control mb-4" placeholder="PID" name="user_smsgateway_pid"
      [(ngModel)]="user.user_smsgateway_pid">

    Unicode
    <select class="browser-default custom-select" name="user_smsgateway_unicode"
      [(ngModel)]="user.user_smsgateway_unicode">
      <option selected value="">Select</option>
      <option value="1">1-Hindi</option>
      <option value="0">0-English</option>
    </select>

    AccountType<input type="text" disabled class="form-control mb-4" placeholder="AccountType" name="account_type"
      [(ngModel)]="user.account_type">

    AccountStatus
    <select class="browser-default custom-select" name="account_status" [(ngModel)]="user.account_status">
      <option selected value="">Select</option>
      <option value="review">Review</option>
      <option value="active">Active</option>
      <option value="pending">Pending</option>
      <option value="disable">Disable</option>
    </select>

    SIM Allowed<select class="browser-default custom-select">
      <option selected>select</option>
      <option value="yes">Yes</option>
      <option value="no">No</option>

    </select>
    <br>
    MinBalance Required<select class="browser-default custom-select">
      <option selected>select</option>
      <option value="yes">Yes</option>
      <option value="no">No</option>

    </select>

    <!-- Sign up button -->
    <button mdbBtn color="info" block="true" class="my-4" type="submit">Update</button>
  </div>
</form>
