<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!-- Card -->
      <div class="card card-image"
        style="background-image: url(assets/bgimg/screen1.PNG);">

        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Marketing</h5>
            <h3 class="card-title pt-2"><strong>This is the card title</strong></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
              optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
              Odit sed qui, dolorum!.</p>
            <a class="btn btn-pink" routerLink="/digitalcards/vcard01"><i class="fas fa-clone left"></i> View Demo</a>
          </div>
        </div>

      </div>
      <!-- Card -->
    </div>
    <div class="col-md-4">
      <!-- Card -->
      <div class="card card-image"
        style="background-image: url(assets/bgimg/screen2.PNG);">

        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Marketing</h5>
            <h3 class="card-title pt-2"><strong>This is the card title</strong></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
              optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
              Odit sed qui, dolorum!.</p>
            <a class="btn btn-pink" routerLink="/digitalcards/vcard02"><i class="fas fa-clone left"></i> View Demo</a>
          </div>
        </div>

      </div>
      <!-- Card -->
    </div>
    <div class="col-md-4">
      <!-- Card -->
      <div class="card card-image"
      style="background-image: url(assets/bgimg/screen2.PNG);">

        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Marketing</h5>
            <h3 class="card-title pt-2"><strong>This is the card title</strong></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
              optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
              Odit sed qui, dolorum!.</p>
            <a class="btn btn-pink" routerLink="/digitalcards/vcard03"><i class="fas fa-clone left"></i> View Demo</a>
          </div>
        </div>

      </div>
      <!-- Card -->
    </div>
  </div>

</div>
