<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">View Banner Promotion </h3>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form (ngSubmit)="regform.form.valid&&getdltlist(regform.form.value)" #regform="ngForm">
          <input type="date" name="fromDate" placeholder="FromDate" ngModel>&nbsp;
          <input type="date" name="toDate" placeholder="ToDate" ngModel>&nbsp;
          <input type="submit">
        </form>
      </div>
      <div class="col-md-6 mubutn">
        <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
          <mdb-icon fas icon="sync-alt"></mdb-icon>

        </button>
        &nbsp;

        <select class="browser-default custom-select filter">
          <option selected value="">select</option>
          <option  value="All">Active</option>
          <option value="review" >Expired</option>
          <option value="active">Suspended</option>
        </select>

        &nbsp;

        <img class="xlicon media " src="assets/img/xlicon.png" (click)="exportAsXLSX()">
      </div>
    </div>
  </div>
  <div class="card-body">
    <div id="table" class="table-editable">

      <table class="table table-bordered table-responsive-md table-striped text-center table-media">
        <tr style="background-color: darkblue;color:white">
          <th class="text-center">
            Date Posted  </th>
          <th class="text-center">
            ClientId</th>
          <th class="text-center">Mobile#</th>
          <th class="text-center">Name </th>
          <th class="text-center">Status</th>
          <th class="text-center">Package Name</th>
          <th class="text-center">From Date   </th>
          <th class="text-center"> ToDate</th>

          <th class="text-center">Whatsapp</th>
          <th class="text-center">Action
          </th>

        </tr>
        <tr *ngFor="let el of dltlist" #loaded>
          <td>
{{el.DateSubmitted|date: 'yyyy/MM/dd'}}
          </td>
          <td>
{{el.ClientID}}
          </td>
          <td>
{{el.MobileNumber}}
          </td>
          <td>
            {{el.ClientName}}

          </td>

          <td>
            {{el.Status}}
          </td>


          <td>
            <img class="pointer" src="assets/img/whatsaapicon.webp" width="100%">

          </td>


          <td>

            <a data-toggle="modal" data-backdrop="" data-target="#modalContactForm" (click)="getdltdocmentdetails(el.TemplateID,el.ClientID)"> <span class="material-icons"
                matTooltip="View Detailed" matTooltipClass="example-tooltip-red"
                aria-label="Button that shows a red tooltip">
                visibility
              </span>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>



<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="documentdetails">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Review DLT Certificate</h4>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body mx-3">
        <P *ngIf="documentdetails">Date:&nbsp;{{documentdetails.DateSubmitted|date: 'yyyy-MM-dd'}}<p>


        <div class="md-form">
          <i class="fas fa-pencil prefix grey-text"></i>
          <h6>Message:</h6>
          <p type="text" id="form8" class="md-textarea form-control" rows="4" placeholder="Enter your Message">&nbsp;{{documentdetails.Message}}<p>
          <!-- <label data-error="wrong" data-success="right" for="form8">Your message</label> -->
        </div>
        <embed [src]="dltcertificate| safePipe: 'resourceUrl'" width="450" height="350"
 type="application/pdf">
        <p style="color:red">* &nbsp;Review Comments:</p>
        <div class="md-form">
          <i class="fas fa-pencil prefix grey-text"></i>
          <textarea type="text" id="form8" class="md-textarea form-control" rows="4" placeholder="Enter your Message" name="notes" [(ngModel)]="notes">{{documentdetails.ReviewComments}}</textarea>
          <!-- <label data-error="wrong" data-success="right" for="form8">Your message</label> -->
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-success" data-dismiss="modal" (click)="updatedltstatus('1')">Approve <i class="fas fa-paper-plane-o ml-1"></i></button>        <button class="btn btn-unique" data-dismiss="modal" (click)="updatedltstatus('2')">Reject <i class="fas fa-paper-plane-o ml-1"></i></button>

      </div>
    </div>
  </div>
</div>

