<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">View Packages</h3>
  <div class="container">
    <div class="row">
      <div class="col-md-6 search">
        <form class="form-inline md-form mr-auto mb-4">
          <input class="form-control mr-sm-2" type="text" name="searchkey" placeholder=" Search By Name"
            aria-label="Search"><i class="fas fa-search"></i>
        </form>
      </div>
      <div class="col-md-4 mubutn">
        <button mat-stroked-button color="primary" routerLink="/packageMange/addPacks">
          Add
          <span class="material-icons">
            add
          </span></button>

        <img class="xlicon media " src="assets/img/xlicon.png">
      </div>
    </div>
  </div>
  <div class="card-body">
    <div id="table" class="table-editable">

      <table class="table table-bordered table-responsive-md table-striped text-center table-media">
        <tr style="background-color: darkblue;color:white">
          <th class="text-center">
           Client ID</th>
          <th class="text-center">
            FullName</th>
          <th class="text-center">Mobile</th>
          <th class="text-center">Email</th>
          <th class="text-center">City</th>
          <th colspan="3" class="text-center">Action
          </th>

        </tr>
        <tr *ngFor="let person of personList; let id = index">
          <td>
            {{person.client_id}}
          </td>
          <td>
            {{person.client_firstname}}{{person.client_lastname}}
          </td>
          <td name="name">
            {{person.client_mobile_number}}
          </td>
          <td name="mobile">
            {{person.client_email}}
          </td>
          <td name="mobile">
            {{person.client_city}}
          </td>
          <td>
           <a> <span class="material-icons" [routerLink]="['/client/viewDetail/',person.client_id]"      matTooltip="View Detailed"
            matTooltipClass="example-tooltip-red"
            aria-label="Button that shows a red tooltip">
              visibility
              </span>
              </a>
          </td>

          <td>
           <a [routerLink]="['/client/editclient/',person.client_id]"> <span class="table-Add"      matTooltip="Edit User"
            matTooltipClass="example-tooltip-red"
            aria-label="Button that shows a red tooltip">
              <i class="fas fa-user-edit" ></i>
            </span></a>
          </td>
          <td>
            <a (click)="remove(id)">
              <span class="material-icons"      matTooltip="Delete User"
              matTooltipClass="example-tooltip-red"
              aria-label="Button that shows a red tooltip">
                delete
                </span>
            </a>
          </td>


        </tr>
      </table>

    </div>
  </div>
</div>
