<div class="container">
  <div class="row">

      <form class="text-center border border-light p-5"  (ngSubmit)=" regform.form.valid&&pushnotify(regform.form.value)" #regform="ngForm">

        <p class="h4 mb-4">Send Push Notification</p>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="defaultChecked2" (change)="checkbox($event.target.checked)" unchecked>
          <label class="custom-control-label" for="defaultChecked2">Push Notification</label>
        </div>
        <div class="form-group">
          <!-- Default input -->
<input type="text" name="title" ngModel class="form-control" placeholder="Title"><br>
          <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"
            placeholder="Message" name="message" ngModel></textarea>
        </div>
        <div class="form-group">
        <label class="form-label" for="customFile">Upload Image File</label>
<input type="file" class="form-control" id="customFile" (change)="uploadimagefile($event)"/><p *ngIf="percentDone">{{percentDone}}</p>
</div>
<div class="form-group">
  <label class="form-label" for="customFile">upload Audio File</label>
  <input type="file" class="form-control" id="customFile" (change)="uploadFile($event)" /><p *ngIf="percentDone">{{percentDone}}</p>
  </div>
          <!-- <button mdbBtn color="info"  type="button" routerLink="/viewnotifyTemplates">Select Template</button> -->

          <button mdbBtn color="info" type="submit">Send</button>

      </form>

  </div>
</div>
