<!-- Jumbotron -->
<div class="jumbotron p-0">
  <div class="avatar mx-auto white"><img src="https://upload.wikimedia.org/wikipedia/commons/7/70/Mahendra_Singh_Dhoni_January_2016_%28cropped%29.jpg" class="rounded-circle"
    alt="Sample avatar image.">
</div>
  <!-- Card image -->
  <div class="view overlay rounded-top">
    <div class="card text-center">
      <div class="conatiner">
        <div class="row">
          <div class="col-md-6">
            <ul class="list-group list-group-flush">

              <li class="list-group-item" >
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">ClientId</strong>:
                  <span class="list-group-right">124555</span>
                </div>
              </li>
              <li class="list-group-item" >
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">FullName</strong>:
                  <span class="list-group-right">Dhoni</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">Email</strong>:
                  <span class="list-group-right">dhoni@gmail.com</span>
                </div>
              </li>
              <li class="list-group-item" >
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">MobileNumber</strong>:
                  <span class="list-group-right">9858858585</span>
                </div>
              </li>
              <li class="list-group-item" >
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">City</strong>:
                  <span class="list-group-right">Ranchi</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">Address</strong>:
                  <span class="list-group-right">Address</span>
                </div>
              </li>

              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">Cross-RegStatus</strong>:
                  <span class="list-group-right">pending</span>
                </div>
              </li>


              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">Client-CompanyName</strong>:
                  <span class="list-group-right">Client-CompanyName</span>
                </div>
              </li>
            </ul>
        </div>


<div class="col-md-6">

  <ul class="list-group list-group-flush">

    <li class="list-group-item" >
      <div class="list-group-item-fixed">
        <strong class="list-group-left">PID</strong>:
        <span class="list-group-right">125</span>
      </div>
    </li>
    <li class="list-group-item" >
      <div class="list-group-item-fixed">
        <strong class="list-group-left">Authkey</strong>:
        <span class="list-group-right">65689899derds</span>
      </div>
    </li>
    <li class="list-group-item">
      <div class="list-group-item-fixed">
        <strong class="list-group-left">SenderId</strong>:
        <span class="list-group-right">MSDhoin</span>
      </div>
    </li>
    <li class="list-group-item" >
      <div class="list-group-item-fixed">
        <strong class="list-group-left">Route</strong>:
        <span class="list-group-right">4</span>
      </div>
    </li>
    <li class="list-group-item" >
      <div class="list-group-item-fixed">
        <strong class="list-group-left">Reg-Channel</strong>:
        <span class="list-group-right">data</span>
      </div>
    </li>
    <li class="list-group-item">
      <div class="list-group-item-fixed">
        <strong class="list-group-left">Account-Type</strong>:
        <span class="list-group-right">Star</span>
      </div>
    </li>

    <li class="list-group-item">
      <div class="list-group-item-fixed">
        <strong class="list-group-left">UserExpiry</strong>:
        <span class="list-group-right">data</span>
      </div>
    </li>

    <li class="list-group-item">
      <div class="list-group-item-fixed">
        <strong class="list-group-left">ClientIndustry</strong>:
        <span class="list-group-right">Insurance</span>
      </div>
    </li>
  </ul>
</div>

      </div>


    </div>
  </div>

  <!-- Card content -->
  <div class="card-body text-center mb-3">


    <!-- Button -->
    <a class="btn purple-gradient btn-rounded mb-4" routerLink="/client/viewclient">Close</a>

  </div>

</div>
<!-- Jumbotron -->
