<!-- Jumbotron -->
<div class="jumbotron p-0">
  <div class="avatar mx-auto white"><img src="assets/img/person.png" class="rounded-circle">
</div>
  <!-- Card image -->
  <div class="view overlay rounded-top">
    <div class="card text-center">
      <div class="conatiner" >
        <div class="row">
          <div class="col-md-6">
            <ul class="list-group list-group-flush">

              <li class="list-group-item" >
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">ClientId</strong>:
                  <span class="list-group-right">{{personList.client_id}}</span>
                </div>
              </li>
              <li class="list-group-item" >
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">FullName</strong>:
                  <span class="list-group-right">{{personList.client_firstname}}{{personList.client_lastname}}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">Email</strong>:
                  <span class="list-group-right">{{personList.user_email}}</span>
                </div>
              </li>
              <li class="list-group-item" >
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">MobileNumber</strong>:
                  <span class="list-group-right">{{personList.user_mobile_number}}</span>
                </div>
              </li>

              <li class="list-group-item" >
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">WhatsappNumber</strong>:
                  <span class="list-group-right">{{personList.client_whatsapp_number}}</span>
                </div>
              </li>
              <li class="list-group-item" >
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">TelegramNumber</strong>:
                  <span class="list-group-right">{{personList.client_telegram_number}}</span>
                </div>
              </li>


              <li class="list-group-item" >
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">City</strong>:
                  <span class="list-group-right">{{personList.client_city}}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">Address1</strong>:
                  <span class="list-group-right">{{personList.client_address1}}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">Address2</strong>:
                  <span class="list-group-right">{{personList.client_address2}}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">District</strong>:
                  <span class="list-group-right">{{personList.client_district}}</span>
                </div>
              </li>


              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">Postoffice</strong>:
                  <span class="list-group-right">{{personList.client_postoffice}}</span>
                </div>
              </li>


              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">Pincode</strong>:
                  <span class="list-group-right">{{personList.client_pincode}}</span>
                </div>
              </li>


              <li class="list-group-item">
                <div class="list-group-item-fixed">
                  <strong class="list-group-left">State</strong>:
                  <span class="list-group-right">{{personList.client_state}}</span>
                </div>
              </li>


            </ul>
        </div>


<div class="col-md-6">

  <ul class="list-group list-group-flush">


    <li class="list-group-item" >
      <div class="list-group-item-fixed">
        <strong class="list-group-left">GstNumber</strong>:
        <span class="list-group-right">{{personList.client_gst_number}}</span>
      </div>
    </li>
    <li class="list-group-item" >
      <div class="list-group-item-fixed">
        <strong class="list-group-left">PID</strong>:
        <span class="list-group-right">{{personList.user_smsgateway_pid}}</span>
      </div>
    </li>
    <li class="list-group-item" >
      <div class="list-group-item-fixed">
        <strong class="list-group-left">smsgateway_authkey</strong>:
        <span class="list-group-right">{{personList.user_smsgateway_authkey}}</span>
      </div>
    </li>
    <li class="list-group-item">
      <div class="list-group-item-fixed">
        <strong class="list-group-left">SenderId</strong>:
        <span class="list-group-right">{{personList.user_smsgateway_sender_id}}</span>
      </div>
    </li>
    <li class="list-group-item" >
      <div class="list-group-item-fixed">
        <strong class="list-group-left">Route</strong>:
        <span class="list-group-right">{{personList.user_smsgateway_route}}</span>
      </div>
    </li>
    <li class="list-group-item" >
      <div class="list-group-item-fixed">
        <strong class="list-group-left">Reg-Channel</strong>:
        <span class="list-group-right">{{personList.user_regn_channel}}</span>
      </div>
    </li>
    <li class="list-group-item">
      <div class="list-group-item-fixed">
        <strong class="list-group-left">Account-Type</strong>:
        <span class="list-group-right">{{personList.account_type}}</span>
      </div>
    </li>

    <li class="list-group-item">
      <div class="list-group-item-fixed">
        <strong class="list-group-left">ClientExpiry</strong>:
        <span class="list-group-right">{{personList.client_expiry}}</span>
      </div>
    </li>

    <li class="list-group-item">
      <div class="list-group-item-fixed">
        <strong class="list-group-left">ClientIndustry</strong>:
        <span class="list-group-right">{{personList.client_industry}}</span>
      </div>
    </li>


    <li class="list-group-item">
      <div class="list-group-item-fixed">
        <strong class="list-group-left">Account Status</strong>:
        <span class="list-group-right">{{personList.account_status}}</span>
      </div>
    </li>
    <li class="list-group-item">
      <div class="list-group-item-fixed">
        <strong class="list-group-left">Cross-RegStatus</strong>:
        <span class="list-group-right">{{personList.user_cross_regn_status}}</span>
      </div>
    </li>


    <li class="list-group-item">
      <div class="list-group-item-fixed">
        <strong class="list-group-left">Client-CompanyName</strong>:
        <span class="list-group-right">{{personList.client_company_name}}</span>
      </div>
    </li>


    <li class="list-group-item">
      <div class="list-group-item-fixed">
        <strong class="list-group-left">smsgateway_regn_status</strong>:
        <span class="list-group-right">{{personList.user_smsgateway_regn_status}}</span>
      </div>
    </li>
  </ul>
</div>

      </div>


    </div>
  </div>

  <!-- Card content -->
  <div class="card-body text-center mb-3">


    <!-- Button -->
    <a class="btn purple-gradient btn-rounded mb-4" routerLink="/client/viewclient">Close</a>

  </div>

</div>
<!-- Jumbotron -->
