table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.pointer {cursor: pointer;}
td, th {
  width: 25%;
}
img.xlicon {

  width: 25%;
    margin-left: 76%;
    margin-top: -10%;
    margin-bottom: -4%;
    cursor: pointer;
}


input {
  margin-top: 5%;

}
select {
  width:33%;
  margin-left: 2%;
  margin-right: 3%;
}

input.search {
  width: 28%;
  margin-left: -10%;
}
