<mat-nav-list>
    <div class="profile-card">
        <div class="header">


        </div>
        <img src="assets/img/person.png" >
        <h4>Admin fullName</h4>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home" routerLinkActive="active"><i class="fas fa-chart-line"></i> &nbsp; Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/client/viewclient" routerLinkActive="active"><i class="fas fa-users" ></i> &nbsp; Client Management</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/attedance/attendanceReport" routerLinkActive="active"> <i class="fas fa-chart-area" ></i>&nbsp; Users Mangement</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/packageMange/ViewPacks"  routerLinkActive="active"> <i class="fas fa-tasks" ></i>&nbsp; Package Management</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/analytics"  routerLinkActive="active"> <i class="fas fa-chart-pie"></i>&nbsp; Analytics</a>
    <a mat-list-item routerLinkActive="list-item-active"  routerLinkActive="active"> <i class="fas fa-tasks"></i>&nbsp; Billing</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles"><i class="fas fa-hands-helping"></i>&nbsp; HelpDesk</a>


    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>
