<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto", sans-serif
  }
</style>

<body class="w3-light-grey">

  <!-- Page Container -->


  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <div class="w4-content w4-margin-top" style="max-width:1400px;">

          <!-- The Grid -->
          <div class="w6-row-padding">

            <!-- Left Column -->
            <div class="w6-third">

              <div class="w6-white w6-text-grey w6-card-4">
                <div class="w6-display-container">
                  <img src="https://i.pinimg.com/originals/08/7a/ed/087aed56c9cfd315cee6aa306d1a8156.jpg"
                    style="width:100%" alt="Avatar">
                  <div class="w6-display-bottomleft w3-container w3-text-black">
                    <h3>Mr.Sridhar Kokkirigadda</h3>
                    <!-- <a class="phone" href=""><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i></a>
                    <a  class="whatsapp" href=""><i class="fab fa-whatsapp fa-fw w3-margin-right w3-large w3-text-teal"></i></a>
                    <a class="email" href=""><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i></a>
                    <a href=""><i class="fab fa-location fa-fw w3-margin-right w3-large w3-text-teal"></i></a> -->
                  </div>
                </div>
                <br>
                <div class="w6-container">
                  <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Meanstack Developer</p>
                  <a target="_blank" href="tel:+919951517660">
                    <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>9951517660</p>
                  </a>
                  <a target="_blank"
                    href="https://wa.me/+918801559157?text=Got%20reference%20from%20your%20Digital%20vCard.%20Want%20to%20know%20more%20about%20your%20products%20and%20services.">
                    <p><i class="fab fa-whatsapp fa-fw w3-margin-right w3-large w3-text-teal"></i>8801559157</p>
                  </a>
                  <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Kukatpally, Hyderabad</p>
                  <a target="_blank" href="mailto:sridhar@gmail.com">
                    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>sridhar0005@mail.com
                    </p>
                  </a>
                  <p><i
                      class="fa fa-edge fa-fw w3-margin-right w3-large w3-text-teal"></i><a target="_blank" href="https://www.ourdigitalvcard.in/">https://www.ourdigitalvcard.in/</a>
                  </p>
                  <hr>
                  <div class="p-30"></div>

   <input class="form-control inptmida" type="text" placeholder="+91 Enter mobile number" [(ngModel)]="mobilenumber">
  <button type="button" class="btn btn-success btn-rounded wtsmdia" (click)="share()"> <i class="fab fa-whatsapp"></i> &nbsp; Share on Whatsapp</button>





                  <br>

                </div>
              </div><br>

              <!-- End Left Column -->
            </div>

            <!-- Right Column -->


            <!-- End Grid -->
          </div>

          <!-- End Page Container -->
        </div>
      </div>
    </div>
  </div>





  <footer class="w3-container w3-teal w3-center w3-margin-top">
    <p>Find me on social media.</p>
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p>Powered by <a href="https://nutantek.com/" target="_blank">Nutantek</a></p>
  </footer>

</body>

</html>
