<button mat-stroked-button color="primary" routerLink="/billing/smspackagelist">Back</button>
<form (ngSubmit)="regform.form.valid&&getclientdetails(regform.form.value)" #regform="ngForm">
<div class="container">
  <div class="row">

      <div class="col-md-4">
        <input type="text"  class="form-control mb-4" placeholder="Enter Clients MobileNumber"  name="mobilenumber" ngModel>
      </div>
      <div class="col-md-4">
    <button mat-raised-button color="primary" type="submit">verify client</button>
  </div>
</div>
</div>
</form>

<form [formGroup]="form" (ngSubmit)="submitForm()">

  <div class="medias mymedia text-center border border-light p-5 " *ngIf="clientData" >
    <h6>ClientId: {{clientData.client_id}}</h6><h6>Name: {{clientData.client_firstname}}{{clientData.client_lastname}}</h6>
      <img src="assets/img/addsmspack.jpg" width="25%"><br>

        <input type="text"  class="form-control mb-4" placeholder="PaymentMode" formControlName="payment_mode" >
        <input type="text"  class="form-control mb-4" placeholder="Transation ID" formControlName="payment_gateway_txn_id" >
        <input type="text"  class="form-control mb-4" placeholder="Transation Ref" formControlName="payment_gateway_txn_ref" >
        <input type="file"   class="form-control mb-4" (change)="uploadFile($event)">
        <input type="text"  class="form-control mb-4" placeholder="Notes" formControlName="notes" >

      <button mdbBtn color="info" block="true"  class="my-4" type="submit">Submit</button>
  </div>
  </form>

  <div class="alert alert-danger" role="alert" *ngIf="message">
   {{message}}
  </div>
